### Wrangling University of British Columbia Survey Data
In this notebook, I accomplish the following:
* Get an overview of the data.
* Check the Internal ID column for duplicates.
* Clean age values.
* Drop unnecessary columns.
* Combine the four media columns.
* Delete abandoned responses.
* Filling invalid categorical fields.
* Convert each of the three categories of opinion on each lolly to an integer.
* Standardise the country and state fields.
* 'Unpivot' the data, moving lolly preference columns to rows.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd = os.getcwd() # Helps with file management.
survey_df = pd.read_excel(pwd + '\Data - candyhierarchy2017.xlsx')

D:\Personal\Education\Programming\Anaconda1\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

### Data Overview

In [3]:
survey_df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [4]:
survey_df.describe()

,Internal ID,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo]
count,2.460000e+03,85.0,1362.0,99.0,67.0
mean,9.028016e+07,1.0,1.0,1.0,1.0
std,7.435532e+03,0.0,0.0,0.0,0.0
min,9.025877e+07,1.0,1.0,1.0,1.0
25%,9.027520e+07,1.0,1.0,1.0,1.0
50%,9.027780e+07,1.0,1.0,1.0,1.0
75%,9.028242e+07,1.0,1.0,1.0,1.0
max,9.031480e+07,1.0,1.0,1.0,1.0

It'll be worth describing the data again once we've converted survey responses to numeric values.

### Checking for Duplicate Respondents
Never trust an assumption about your data until you've verified it, especially when it's this zany!

In [5]:
print(f'Total IDs: {len(survey_df["Internal ID"])}')
print(f'Unique IDs: {survey_df["Internal ID"].nunique()}')

Total IDs: 2460
Unique IDs: 2460

### Clean Age Values
The data contain a few... aberrant responses.

In [6]:
'''
I'll be making a few copies throughout so it's easier to track my progress at different stages and roll back mistakes. 
The tradeoff is storing a bunch of variables, but for a project of this size it's not a real concern.
'''
survey_df_agedrop = survey_df.copy()

In [7]:
print(f'Null values: {survey_df_agedrop["Q3: AGE"].isna().sum()}')
print(f'Non-numeric values: {len([i for i in survey_df_agedrop["Q3: AGE"] if isinstance(i, str) == True])}')
print(f'Total values: {len(survey_df_agedrop["Q3: AGE"])}')

Null values: 84
Non-numeric values: 24
Total values: 2460

We therefore need 108 cells to be 0 whilst preserving the int64 dtype.

In [8]:
survey_df_agedrop['Q3: AGE'] = pd.to_numeric(survey_df_agedrop['Q3: AGE'], errors='coerce')
survey_df_agedrop.replace(np.nan, 0, inplace=True)
survey_df_agedrop.astype({'Q3: AGE': 'int64'}, errors='ignore', copy=False)
survey_df_agedrop['Q3: AGE'].value_counts()

0.0       108
40.0       92
34.0       90
37.0       89
43.0       86
         ...
88.0        1
312.0       1
70.5        1
99.0        1
1000.0      1
Name: Q3: AGE, Length: 84, dtype: int64

In [9]:
print(f'Null values: {survey_df_agedrop["Q3: AGE"].isna().sum()}')
print(f'Non-numeric values: {len([i for i in survey_df_agedrop["Q3: AGE"] if isinstance(i, str) == True])}')
print(len(survey_df_agedrop['Q3: AGE']))

Null values: 0
Non-numeric values: 0
2460

Now all the rubbish has been swept out, time for a sense-check. It's very unlikely that a 300-year-old is taking this survey. I'm going to assume anyone aged 90 or over is just trying to be funny.

In [10]:
print(f'Number of dubious ages: {len([i for i in survey_df_agedrop["Q3: AGE"] if i >= 90])}')

Number of dubious ages: 8

In [11]:
survey_df_sensecheck = survey_df_agedrop.copy()

In [12]:
survey_df_sensecheck["Q3: AGE"] = [int(i) if i < 90 else 0 for i in survey_df_sensecheck["Q3: AGE"]]
print(f'Number of dubious ages: {len([i for i in survey_df_sensecheck["Q3: AGE"] if i >= 90])}')

Number of dubious ages: 0

I'd also like to exclude a few exceptionally young ages. Halloween lollies are the domain of kids, but I'd say it's highly unlikely any kid under three is capable of coherent opinions. If you were an opinionated two-year-old, don't hesitate to refrain from letting me know.

In [13]:
print(f'Number of far-too-young ages: {len([i for i in survey_df_sensecheck["Q3: AGE"] if i <= 2 and i != 0])}')

Number of far-too-young ages: 1

In [14]:
survey_df_sensecheck["Q3: AGE"] = [int(i) if i > 2 else 0 for i in survey_df_sensecheck["Q3: AGE"]]
print(f'Number of far-too-young ages: {len([i for i in survey_df_sensecheck["Q3: AGE"] if i <= 2 and i != 0])}')

Number of far-too-young ages: 0

To finish up, I'm going to replace all 0s with the median age.

In [15]:
survey_df_sensecheck["Q3: AGE"] = [i if i > 0 else survey_df_sensecheck["Q3: AGE"].median() for i in survey_df_sensecheck["Q3: AGE"]]
survey_df_sensecheck["Q3: AGE"] = survey_df_sensecheck["Q3: AGE"].astype('int64')
survey_df_sensecheck["Q3: AGE"].value_counts()

41    191
40     92
34     90
37     89
43     86
     ...
8       2
4       1
88      1
74      1
77      1
Name: Q3: AGE, Length: 74, dtype: int64

### Dropping Unneeded Columns
There are several suspect columns in this dataset that are unlikely to be valuable without the aid of quantum computing.

In [16]:
survey_df_sensecheck.columns

Index(['Internal ID', 'Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY',
       'Q5: STATE, PROVINCE, COUNTY, ETC', 'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       ...
       'Q8: DESPAIR OTHER', 'Q9: OTHER COMMENTS', 'Q10: DRESS', 'Unnamed: 113',
       'Q11: DAY', 'Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]',
       'Q12: MEDIA [ESPN]', 'Q12: MEDIA [Yahoo]', 'Click Coordinates (x, y)'],
      dtype='object', length=120)

In [17]:
survey_df_sensecheck['Unnamed: 113'].value_counts()

0                                                                          2451
dress (https://survey.ubc.ca/media/assets/user/14372/storage/dress.png)       9
Name: Unnamed: 113, dtype: int64

In [18]:
survey_df_coldrops = survey_df_sensecheck.copy()
survey_df_coldrops.drop(columns=['Q7: JOY OTHER', 'Q8: DESPAIR OTHER', 'Q9: OTHER COMMENTS', 'Unnamed: 113'], inplace=True)
survey_df_coldrops.columns

Index(['Internal ID', 'Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY',
       'Q5: STATE, PROVINCE, COUNTY, ETC', 'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       ...
       'Q6 | White Bread', 'Q6 | Whole Wheat anything',
       'Q6 | York Peppermint Patties', 'Q10: DRESS', 'Q11: DAY',
       'Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]', 'Q12: MEDIA [ESPN]',
       'Q12: MEDIA [Yahoo]', 'Click Coordinates (x, y)'],
      dtype='object', length=116)

### Combine Media Columns
The media columns are a highly-unrelated portion of the survey where respondents are presented with four mobile homepages and asked to honestly selected which one they'd click on. 

I want a single media column containing a categorical variable for each of the media organisations.

In [19]:
survey_df_media = survey_df_coldrops.copy()

In [20]:
survey_df_media['Q12: MEDIA'] = 0
survey_df_media.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)",Q12: MEDIA
0,90258773,0,0,41,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0,0
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,White and gold,Sunday,0.0,1.0,0.0,0.0,"(84, 25)",0
2,90272829,0,Male,49,USA,Virginia,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0,0
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,White and gold,Sunday,0.0,1.0,0.0,0.0,"(75, 23)",0
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,White and gold,Friday,0.0,1.0,0.0,0.0,"(70, 10)",0

I'm thinking I handle this via the following process:
1. Change media column values to 1 - 4, where 2 would be 'Science', 3 would be 'ESPN' etc.
2. Collapse all values into new MEDIA column.
3. Convert values 1 - 4 into 'Daily Dish' - 'Yahoo' respectively.
4. Drop all four original media columns.

If any of these clowns have selected multiple answers, we'll know soon enough!

In [21]:
def num_changer(data, numadd):
    result = [i + numadd if i > 0 else i for i in data]
    return result

In [22]:
media_data = ['Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]', 'Q12: MEDIA [ESPN]', 'Q12: MEDIA [Yahoo]']

for i, media_col in enumerate(media_data):
    survey_df_media[media_col] = num_changer(survey_df_media[media_col], i)

In [23]:
survey_df_media[media_data].loc[1770:1790] # I've taken this oddball slice because it contains responses in each column.

,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo]
1770,0.0,0.0,0.0,0.0
1771,0.0,0.0,0.0,0.0
1772,0.0,0.0,0.0,4.0
1773,0.0,2.0,0.0,0.0
1774,0.0,2.0,0.0,0.0
1775,0.0,0.0,0.0,0.0
1776,0.0,2.0,0.0,0.0
1777,0.0,0.0,0.0,0.0
1778,0.0,2.0,0.0,0.0
1779,0.0,2.0,0.0,0.0
1780,0.0,0.0,0.0,0.0
1781,0.0,0.0,0.0,0.0
1782,0.0,0.0,0.0,0.0
1783,0.0,2.0,0.0,0.0
1784,1.0,0.0,0.0,0.0
1785,0.0,0.0,0.0,0.0
1786,0.0,2.0,0.0,0.0
1787,0.0,0.0,3.0,0.0
1788,0.0,0.0,0.0,0.0
1789,0.0,0.0,0.0,0.0
1790,0.0,2.0,0.0,0.0

In [24]:
survey_df_media['Q12: MEDIA'] = survey_df_media[media_data].sum(axis=1)
survey_df_media['Q12: MEDIA'].loc[1770:1790]

1770    0.0
1771    0.0
1772    4.0
1773    2.0
1774    2.0
1775    0.0
1776    2.0
1777    0.0
1778    2.0
1779    2.0
1780    0.0
1781    0.0
1782    0.0
1783    2.0
1784    1.0
1785    0.0
1786    2.0
1787    3.0
1788    0.0
1789    0.0
1790    2.0
Name: Q12: MEDIA, dtype: float64

In [25]:
valuedict = {0: 'None',
             1: 'Daily Dish',
             2: 'Science',
             3: 'ESPN',
             4: 'Yahoo'}

for key, value in valuedict.items():
    survey_df_media['Q12: MEDIA'].loc[survey_df_media['Q12: MEDIA'] == key] = value

survey_df_media['Q12: MEDIA'].loc[1770:1790]

D:\Personal\Education\Programming\Anaconda1\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

1770          None
1771          None
1772         Yahoo
1773       Science
1774       Science
1775          None
1776       Science
1777          None
1778       Science
1779       Science
1780          None
1781          None
1782          None
1783       Science
1784    Daily Dish
1785          None
1786       Science
1787          ESPN
1788          None
1789          None
1790       Science
Name: Q12: MEDIA, dtype: object

In [26]:
survey_df_media.drop(columns=media_data, inplace=True)

In [27]:
survey_df_media['Q12: MEDIA'].value_counts()

Science       1362
None           847
ESPN            99
Daily Dish      85
Yahoo           67
Name: Q12: MEDIA, dtype: int64

### Delete Abandoned Responses
Some users opened the survey, but immediately closed the tab. We'll delete these responses by scanning each row for responses of '0' in all main question fields, getting the index of each, then dropping them.

In [38]:
rowdrops = (survey_df_media.iloc[:, 6:111:1] == 0) # Returns a dataframe of True/ False values, where True = 0.
dropindex = rowdrops.index[rowdrops['Q6 | 100 Grand Bar']].tolist()
dropindex

[0,
 2,
 6,
 10,
 18,
 19,
 20,
 24,
 25,
 28,
 30,
 35,
 36,
 38,
 40,
 42,
 43,
 47,
 48,
 55,
 61,
 62,
 66,
 67,
 76,
 78,
 79,
 84,
 86,
 88,
 89,
 96,
 97,
 100,
 114,
 117,
 119,
 121,
 122,
 127,
 130,
 137,
 138,
 139,
 143,
 144,
 146,
 149,
 152,
 154,
 155,
 156,
 158,
 162,
 163,
 166,
 175,
 177,
 182,
 185,
 187,
 189,
 191,
 192,
 201,
 208,
 213,
 214,
 216,
 227,
 228,
 230,
 232,
 235,
 236,
 237,
 239,
 240,
 241,
 242,
 251,
 257,
 259,
 262,
 271,
 272,
 274,
 277,
 280,
 284,
 290,
 291,
 293,
 294,
 295,
 297,
 298,
 299,
 301,
 302,
 304,
 305,
 312,
 315,
 319,
 321,
 323,
 329,
 331,
 333,
 337,
 342,
 345,
 354,
 356,
 359,
 362,
 364,
 366,
 368,
 373,
 376,
 377,
 378,
 379,
 380,
 381,
 390,
 391,
 393,
 394,
 396,
 397,
 403,
 405,
 408,
 410,
 416,
 431,
 439,
 440,
 442,
 447,
 449,
 456,
 467,
 475,
 478,
 480,
 483,
 487,
 490,
 495,
 496,
 499,
 502,
 504,
 505,
 512,
 521,
 523,
 527,
 528,
 532,
 540,
 542,
 546,
 550,
 554,
 555,
 557,
 558,
 562,
 567,
 568,
 569,
 571,
 578,
 584,
 586,
 588,
 593,
 597,
 604,
 608,
 609,
 620,
 621,
 626,
 627,
 632,
 633,
 634,
 635,
 644,
 651,
 655,
 656,
 667,
 678,
 679,
 681,
 686,
 690,
 691,
 692,
 693,
 697,
 698,
 700,
 704,
 707,
 708,
 711,
 714,
 715,
 716,
 717,
 719,
 725,
 727,
 729,
 732,
 734,
 735,
 738,
 742,
 748,
 759,
 761,
 779,
 785,
 786,
 787,
 788,
 792,
 795,
 798,
 802,
 808,
 812,
 816,
 818,
 819,
 820,
 825,
 830,
 838,
 839,
 844,
 845,
 846,
 857,
 859,
 860,
 861,
 862,
 865,
 869,
 871,
 872,
 873,
 876,
 878,
 890,
 895,
 905,
 909,
 915,
 916,
 917,
 924,
 931,
 937,
 942,
 946,
 948,
 949,
 952,
 957,
 958,
 964,
 968,
 969,
 971,
 974,
 979,
 981,
 989,
 991,
 992,
 996,
 997,
 1000,
 1004,
 1008,
 1009,
 1014,
 1027,
 1028,
 1033,
 1037,
 1040,
 1042,
 1047,
 1052,
 1057,
 1058,
 1066,
 1068,
 1074,
 1076,
 1077,
 1083,
 1095,
 1102,
 1104,
 1109,
 1111,
 1117,
 1119,
 1122,
 1124,
 1125,
 1127,
 1129,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1153,
 1158,
 1159,
 1161,
 1163,
 1168,
 1172,
 1173,
 1177,
 1184,
 1189,
 1193,
 1199,
 1200,
 1201,
 1216,
 1218,
 1220,
 1225,
 1227,
 1232,
 1237,
 1239,
 1242,
 1249,
 1253,
 1259,
 1267,
 1270,
 1271,
 1272,
 1278,
 1280,
 1281,
 1284,
 1285,
 1286,
 1295,
 1297,
 1302,
 1305,
 1308,
 1312,
 1315,
 1321,
 1329,
 1335,
 1336,
 1341,
 1342,
 1345,
 1346,
 1350,
 1351,
 1357,
 1362,
 1368,
 1369,
 1371,
 1372,
 1373,
 1374,
 1376,
 1378,
 1382,
 1387,
 1398,
 1401,
 1402,
 1405,
 1407,
 1412,
 1415,
 1416,
 1417,
 1420,
 1422,
 1424,
 1426,
 1434,
 1440,
 1441,
 1444,
 1445,
 1451,
 1452,
 1455,
 1459,
 1461,
 1462,
 1468,
 1472,
 1478,
 1480,
 1483,
 1490,
 1496,
 1499,
 1503,
 1504,
 1505,
 1510,
 1511,
 1515,
 1516,
 1525,
 1534,
 1545,
 1547,
 1549,
 1550,
 1557,
 1560,
 1566,
 1569,
 1570,
 1571,
 1575,
 1577,
 1578,
 1580,
 1583,
 1588,
 1590,
 1599,
 1601,
 1603,
 1604,
 1609,
 1614,
 1618,
 1619,
 1621,
 1622,
 1636,
 1639,
 1645,
 1649,
 1650,
 1652,
 1653,
 1654,
 1655,
 1657,
 1661,
 1662,
 1665,
 1671,
 1674,
 1675,
 1680,
 1685,
 1690,
 1699,
 1702,
 1708,
 1709,
 1711,
 1718,
 1721,
 1722,
 1724,
 1725,
 1734,
 1736,
 1737,
 1748,
 1749,
 1750,
 1752,
 1753,
 1758,
 1759,
 1770,
 1775,
 1777,
 1780,
 1781,
 1782,
 1788,
 1789,
 1791,
 1794,
 1796,
 1801,
 1803,
 1809,
 1816,
 1819,
 1821,
 1823,
 1827,
 1829,
 1830,
 1836,
 1848,
 1852,
 1854,
 1859,
 1861,
 1864,
 1868,
 1871,
 1872,
 1873,
 1877,
 1879,
 1881,
 1883,
 1884,
 1887,
 1891,
 1892,
 1895,
 1897,
 1900,
 1901,
 1902,
 1904,
 1906,
 1908,
 1909,
 1913,
 1914,
 1915,
 1917,
 1918,
 1923,
 1924,
 1926,
 1927,
 1937,
 1938,
 1939,
 1943,
 1953,
 1958,
 1959,
 1963,
 1972,
 1976,
 1977,
 1978,
 1981,
 1983,
 1988,
 1991,
 1999,
 2001,
 2003,
 2007,
 2008,
 2009,
 2012,
 2013,
 2015,
 2017,
 2018,
 2020,
 2023,
 2031,
 2032,
 2042,
 2047,
 2050,
 2052,
 2056,
 2057,
 2059,
 2060,
 2062,
 2064,
 2067,
 2075,
 2076,
 2078,
 2080,
 2081,
 2082,
 2083,
 2085,
 2086,
 2095,
 2098,
 2100,
 2105,
 2111,
 2112,
 2113,
 2117,
 2120,
 2122,
 2125,
 2126,
 2131,
 2132,
 2133,
 2147,
 2148,
 2151,
 2152,
 2154,
 2161,
 2162,
 2169,
 2176,
 2181,
 2183,
 2184,
 2186,
 2187,
 2188,
 2190,
 2191,
 2194,
 2197,
 2204,
 2207,
 2208,
 2209,
 2212,
 2216,
 2219,
 2224,
 2225,
 2226,
 2227,
 2235,
 2238,
 2239,
 2241,
 2244,
 2245,
 2251,
 2252,
 2253,
 2254,
 2258,
 2259,
 2260,
 2261,
 2262,
 2264,
 2265,
 2268,
 2269,
 2270,
 2274,
 2276,
 2277,
 2280,
 2283,
 2284,
 2289,
 2291,
 2292,
 2293,
 2296,
 2298,
 2300,
 2303,
 2311,
 2312,
 2314,
 2316,
 2322,
 2323,
 2324,
 2325,
 2329,
 2332,
 2335,
 2336,
 2340,
 2349,
 2351,
 2352,
 2357,
 2362,
 2363,
 2364,
 2369,
 2374,
 2386,
 2388,
 2389,
 2393,
 2394,
 2397,
 2401,
 2403,
 2404,
 2405,
 2406,
 2408,
 2409,
 2412,
 2415,
 2416,
 2417,
 2420,
 2422,
 2425,
 2429,
 2437,
 2440,
 2444,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2451,
 2458]

In [66]:
survey_df_abandrops = survey_df_media.copy()
survey_df_abandrops.drop(dropindex, inplace=True)

In [67]:
survey_df_abandrops.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,"Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein",Q6 | Vicodin,Q6 | Whatchamacallit Bars,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q10: DRESS,Q11: DAY,"Click Coordinates (x, y)",Q12: MEDIA
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(84, 25)",Science
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(75, 23)",Science
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY,White and gold,Friday,"(70, 10)",Science
5,90272852,No,Male,41,0,0,JOY,DESPAIR,JOY,0,...,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,0,0,"(75, 23)",Science
7,90272854,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,...,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,Blue and black,Friday,"(55, 5)",Science

### Filling Invalid Categorical Fields
There are only two valid choices ('Yes' and 'No'). I'm going to assume any response of 0 means they'd rather not say. This makes it consistent with the gender field, but even that has a similar issue.

In [68]:
survey_df_abandrops[['Q1: GOING OUT?', 'Q2: GENDER']].value_counts()

Q1: GOING OUT?  Q2: GENDER
No              Male                  860
                Female                493
Yes             Male                  137
                Female                 82
No              I'd rather not say     48
0               Male                   44
No              Other                  18
0               Female                  8
Yes             I'd rather not say      8
0               0                       4
                I'd rather not say      4
No              0                       3
Yes             Other                   3
0               Other                   1
dtype: int64

In [69]:
problemcols = ['Q1: GOING OUT?', 'Q2: GENDER']

for column in problemcols:
    survey_df_abandrops[column] = [i if i != 0 else "I'd rather not say" for i in survey_df_abandrops[column]]

In [70]:
survey_df_abandrops[['Q1: GOING OUT?', 'Q2: GENDER']].value_counts()

Q1: GOING OUT?      Q2: GENDER
No                  Male                  860
                    Female                493
Yes                 Male                  137
                    Female                 82
No                  I'd rather not say     51
I'd rather not say  Male                   44
No                  Other                  18
I'd rather not say  Female                  8
                    I'd rather not say      8
Yes                 I'd rather not say      8
                    Other                   3
I'd rather not say  Other                   1
dtype: int64

In [71]:
survey_df_abandrops

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,"Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein",Q6 | Vicodin,Q6 | Whatchamacallit Bars,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q10: DRESS,Q11: DAY,"Click Coordinates (x, y)",Q12: MEDIA
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(84, 25)",Science
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(75, 23)",Science
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY,White and gold,Friday,"(70, 10)",Science
5,90272852,No,Male,41,0,0,JOY,DESPAIR,JOY,0,...,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,0,0,"(75, 23)",Science
7,90272854,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,...,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,Blue and black,Friday,"(55, 5)",Science
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2454,90314022,No,Female,26,USA,Michigan,JOY,MEH,JOY,DESPAIR,...,MEH,MEH,JOY,MEH,MEH,JOY,White and gold,Friday,"(68, 39)",Science
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,MEH,JOY,DESPAIR,MEH,DESPAIR,MEH,White and gold,Friday,0,None
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,0,...,0,0,JOY,DESPAIR,MEH,JOY,Blue and black,Friday,"(70, 26)",Science
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,MEH,JOY,MEH,DESPAIR,DESPAIR,MEH,Blue and black,Friday,"(67, 35)",Science
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,JOY,White and gold,Sunday,"(19, 26)",Daily Dish

### Converting Lolly Categories
'Despair', 'Meh' and 'Joy' are reasonably functional, but if I were hired to clean this data set knowing there'd be further exploration, I'd want a slightly better way of scoring and aggregating this information. Just having them as integers seems like a solid idea. We can use some of the tricks employed earlier to convert these values to integers.

In [94]:
survey_df_cats = survey_df_abandrops.copy()

In [104]:
scoredict = {'DESPAIR': 1,
             'MEH': 2,
             'JOY': 3}

for column in survey_df_cats:
    for key, value in scoredict.items():
        survey_df_cats[column] = [i if key != i else value for i in survey_df_cats[column]]

In [106]:
survey_df_cats.head(10)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,"Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein",Q6 | Vicodin,Q6 | Whatchamacallit Bars,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q10: DRESS,Q11: DAY,"Click Coordinates (x, y)",Q12: MEDIA
1,90272821,No,Male,44,USA,NM,2,1,3,2,...,1,1,1,1,1,1,White and gold,Sunday,"(84, 25)",Science
3,90272840,No,Male,40,us,or,2,1,3,2,...,1,3,3,1,1,1,White and gold,Sunday,"(75, 23)",Science
4,90272841,No,Male,23,usa,exton pa,3,1,3,1,...,2,3,3,1,1,3,White and gold,Friday,"(70, 10)",Science
5,90272852,No,Male,41,0,0,3,1,3,0,...,1,1,3,1,1,3,0,0,"(75, 23)",Science
7,90272854,No,Male,33,canada,ontario,3,1,3,1,...,3,2,1,1,1,1,Blue and black,Friday,"(55, 5)",Science
8,90272858,No,Male,40,Canada,Ontario,3,1,3,2,...,2,1,2,1,1,1,Blue and black,Sunday,"(76, 24)",Science
9,90272859,No,Female,53,Us,Wa,2,1,3,2,...,1,1,2,1,1,2,White and gold,Sunday,"(70, 28)",Science
11,90272865,No,Male,56,Canada,Quebec,3,2,3,2,...,1,2,2,3,1,2,White and gold,Friday,"(73, 24)",Science
12,90272866,No,Male,64,US,NY,2,2,3,2,...,3,3,1,1,1,2,White and gold,Sunday,"(77, 24)",Science
13,90272867,Yes,Male,43,Murica,California,3,1,3,2,...,1,1,3,1,1,3,White and gold,Sunday,0,Science